/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    
}

.text-input{
    -fx-prompt-text-fill: #B2B2B2; 
    -fx-text-inner-color: black;
}
.text-input:focused {
    -fx-prompt-text-fill: #B2B2B2; 
    -fx-text-inner-color: black;
}

